@import "tailwindcss";

body {
  font-family: "Quicksand", sans-serif;
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}


.quicksand-titles {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
/*   font-weight: 400; */
  font-style: normal;
}

/* bg-restaurant */

.bg-restaurant {
  background-image: url(https://images.pexels.com/photos/1237073/pexels-photo-1237073.jpeg);
  background-size: cover;
  background-color: rgba(161, 84, 84, 0.315);
  background-blend-mode: lighten;
}

/* font restaurant menu */
.font-restaurant{
  font-family: "Times New Roman", Georgia, Serif
}

.playfair-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
